name: metrics

on:
  workflow_run:
    workflows:
      - update
    types:
      - completed

jobs:
  metrics:
    runs-on: ubuntu-latest
    steps:
      - uses: anmol098/waka-readme-stats@master
        with:
          WAKATIME_API_KEY: ${{ secrets.WAKA_API }}
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          COMMIT_MESSAGE: 'Update metrics'
          SHOW_TOTAL_CODE_TIME: false
          SHOW_PROFILE_VIEWS: false
          SHOW_LINES_OF_CODE: true
          SHOW_UPDATED_DATE: false
